
form.settings {
  margin-top: 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

  max-width: 600px;
  display: flex;
  flex-direction: column;

  position: relative;

  padding: 20px 20px;
  padding-top: 70px;
}

form.settings::before {
  position: absolute;
  content: 'Datos del usuario';
  z-index: 100;
  background: $red;
  right: 20px;
  left: 20px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  color: white;
  top: -15px;
}

.customized-data {
  resize: none;
}

form.settings .form-group {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
}

form.settings .form-group:last-child {
  margin-bottom: 0;
}

textarea {
  width: 100%;
  flex: 1;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0.8em;
  padding: 5px;
}

input[type="text"] {
  flex: 1;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  padding: 5px;
}

input[type="text"]:not(:first-child) {
  margin-left: 10px;
}

form.settings input, form.settings textarea {
  color: #55555a;
}

input[type="text"]:focus, textarea:focus {
  border-bottom: 1.5px solid rgb(245, 67, 54);
}

.form-group.button {
  justify-content: flex-end;
}

form.settings button {
  background: $red;
  padding: 10px 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

form.settings button:hover {
  background: #ff4c3f;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

form.settings button:active {
  background: $red;
}

form.settings {
  padding-bottom: 0;
  margin-bottom: 20px;
}

@media (max-width: 660px) {
  form.settings .form-group {
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
  }

  form.settings input {
    margin: 5px 0 0 0 !important;
    flex-basis: 100%;
  }

}